[project]
	description = Arduino project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eramox
[access "refs/for/refs/*"]
	read = group user/eramox
	push = group user/eramox
	label-Code-Review = -2..+2 group user/eramox
	label-Verified = -1..+1 group user/eramox
	rebase = group user/eramox
	removeReviewer = group user/eramox
	submit = group user/eramox
[access "refs/heads/*"]
	read = group user/eramox
	create = group user/eramox
	push = +force group user/eramox
	pushMerge = group user/eramox
[access "refs/tags/*"]
	push = +force group user/eramox
	pushTag = group user/eramox
	pushSignedTag = group user/eramox
