[project]
	description = Arduino project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Franck LENORMAND (eramox)
	read = group eramox_NonInteractive
[access "refs/for/refs/*"]
	read = group user/Franck LENORMAND (eramox)
	push = group user/Franck LENORMAND (eramox)
	label-Code-Review = -2..+2 group eramox_NonInteractive
	label-Code-Review = -2..+2 group user/Franck LENORMAND (eramox)
	label-Verified = -1..+1 group eramox_NonInteractive
	label-Verified = -1..+1 group user/Franck LENORMAND (eramox)
	label-Autobuild = -1..+1 group eramox_NonInteractive
	label-Regression = -1..+1 group eramox_NonInteractive
	rebase = group user/Franck LENORMAND (eramox)
	removeReviewer = group user/Franck LENORMAND (eramox)
	submit = group user/Franck LENORMAND (eramox)
[access "refs/heads/*"]
	read = group user/Franck LENORMAND (eramox)
	create = group user/Franck LENORMAND (eramox)
	push = +force group user/Franck LENORMAND (eramox)
	pushMerge = group user/Franck LENORMAND (eramox)
[access "refs/tags/*"]
	push = +force group user/Franck LENORMAND (eramox)
	pushTag = group user/Franck LENORMAND (eramox)
	pushSignedTag = group user/Franck LENORMAND (eramox)
[receive]
	requireSignedOffBy = true
[access "refs/meta/*"]
	read = group user/Franck LENORMAND (eramox)
	push = group user/Franck LENORMAND (eramox)
	label-Code-Review = -2..+2 group user/Franck LENORMAND (eramox)
	label-Verified = -1..+1 group user/Franck LENORMAND (eramox)
	submit = group user/Franck LENORMAND (eramox)
	pushMerge = group user/Franck LENORMAND (eramox)
[label "Autobuild"]
	function = MaxWithBlock
	 value = -1 Build failed
	value =  0 Not runned
	value = +1 Build OK
	defaultValue = 0
[label "Regression"]
	function = MaxWithBlock
	value = -1 Some tests failes
	value =  0 Not runned
	value = +1 All tests passe
	defaultValue = 0
